$paleBluePrimary: hsl(225, 100%, 94%);
$brightBluePrimary: hsl(245, 75%, 52%);

$paleBlueNeutral: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(225, 100%, 83%);
$paleBlue: hsl(226, 90%, 92%);
$darkBlue: hsl(223, 47%, 23%);
$fontFamily: 'Mulish', sans-serif;
$fontColor: black;

@mixin mainDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: $fontFamily;
    background-image: -webkit;
    font-size: 16px;
}

.header
{
    width: 100%;
    height: 80px;
    display: flex;
    outline: 1px solid salmon;
    background-color: $paleBlue;
}

.container
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0px 100px;
    min-height: calc(100vh - 161px);
    outline: 1px solid blue;
    background-color: $desaturatedBlue;
}

.container__img
{
    position: relative;
    transform: scaleX(-1);
}

.card
{
    background: rgba(255, 255, 255, 0.1);
    outline: 1px solid salmon;
    border: 2px solid $fontColor;
    border-radius: 60px;
    color: $fontColor;
    padding: 0px 0px 40px;
    min-height: 600px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.card__img
{
    display: flex;
    max-width: 100%;
    height: auto;
}

.container__info
{
    @include mainDisplay;
    
}

.card__title
{
    @include mainDisplay;
    font-size: 25px;
    font-weight: bold;
}

.card__info
{
    @include mainDisplay;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: $paleBluePrimary;
}

.card__button
{
    @include mainDisplay;
}

.attribution 
{ 
    background-color: $desaturatedBlue;
    font-size: 14px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    outline: 1px solid salmon;
    letter-spacing: 1px;
    a 
    { 
        color: $brightBluePrimary; 
        cursor: pointer;
        text-decoration: none;        
    }
    a:hover
    {
        text-decoration: underline;
    }
}